
<head>
  <link rel="stylesheet"  type="text/css"  href="/stylesheets/AdminPageStyle.css">
  <link rel="stylesheet"  type="text/css"  href="/stylesheets/EditAccount.css">
</head>

<%-include('../../../layouts/partials/Admin/AdminMenu.ejs')%>

<section id = " interface ">

  <h3 class="interface-name">Edit <%= donor.name  %></h3>

  <div class="form">
      <form class="form" action="/admin/manage-accounts/edit/donor/<%= donor.id %>?_method=PUT" method="post">
  <div class="form-group">
      <label for="name">Name:</label>
      <input type="text" id="name" name="name" placeholder="<%= donor.name %>">
  </div>
  <div class="form-group">
      <label for="email">Email:</label>
      <input type="email" id="email" name="email" placeholder="<%= donor.email %>">
  </div>
      <button class="submit-edit" type="submit">Submit</button>
</form>
  </div>
     

</section>
