<head>
    <link rel="stylesheet" type="text/css" href="/stylesheets/manageClientAccounts.css">
    <link rel="stylesheet" type="text/css" href="/stylesheets/AdminPageStyle.css">
</head>

<%-include('../../../layouts/partials/Admin/AdminMenu.ejs')%> 

    <div id="interface">

        <div class="manage-staff-interface">
            <h3 class="interface-name" style="margin-bottom: 8px;">Partnership Requests</h3>
        </div>

        <div class="scrollable-table">
            <% if (requests.length > 0) { %>
                <table class="table">
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Date</th>
                            <th>Approved</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        <% requests.forEach(item => { %>
                            <tr>
                                <td>
                                    <%= item.name %>
                                </td>
                                <td>
                                    <%= item.dateOfRegistry %>
                                </td>
                                <td>
                                    <%= item.accepted %>
                                </td>
                                <td>
                                    <a href="/admin/manage-accounts/register/partnershipRequests/<%= item.id %>"><button>View Information</button></a>
                                    <form action="/admin/manage-accounts/delete/partnershipRequests/<%= item.id %>?_method=DELETE" method="POST">
                                        <button type="submit">Delete</button>
                                    </form>
                                </td>
                            </tr>
                        <% }); %>
                    </tbody>
                </table>
            <% } else { %>
                <p>No data available</p>
            <% } %>

        </div>

    </div>
